* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

#tabelaContato {
    width: 100%;

}

table {
    width: 100%;

}


th {
    border-bottom: 1px solid black;
    margin: 5%;
}

th,
td {
    padding: 15px;
    text-align: center;
}

.container {
    width: 90% !important;
    margin: auto auto;
}