<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <title>Agenda</title>
</head>

<body>

    <div id="cabecalho">Cabeçalho</div>
    <div id="botoes">
        <button id="home" class="btn selecionado">Home</button>
        <button id="novo" class="btn">Novo</button>
        <button id="pesquisar" class="btn">Pesquisar</button>
        <button id="gestao" class="btn">Gestão</button>
        <button id="sobre" class="btn">Sobre</button>
    </div>
    <div id="corpo">
        <iframe style="border:none" id="if_corpo" src="./home.html" name="if_corpo"></iframe>
    </div>


    <script src="../public/js/index.js"></script>
</body>

</html>