<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/filtrar.css">
    <title>Filtrar</title>
</head>

<body class="container">
    <h1>Filtrar</h1>
    <div>
        <input type="text" id="searchInput" placeholder="pesquisar">
        <table id="tabelaContato">
            <thead>
                <tr>

                    <th>id</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Data Nascimento</th>
                    <th>email</th>

                </tr>

            </thead>
            <tbody id="contatosRes">

            </tbody>
        </table>

    </div>



    <script src="../public/js/filtrar.js"></script>
</body>

</html>