<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/home.css">
    <title>Document</title>
</head>

<body class="container">

    <div>
        <h1>Lista de Contatos</h1>
        <table id="tabelaContato">
            <thead>
                <tr>

                    <th>id</th>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Data Nascimento</th>
                    <th>email</th>

                </tr>

            </thead>
            <tbody id="contatosRes">

            </tbody>
        </table>

    </div>

    <script src="../public/js/home.js"></script>
</body>

</html>